<div style="display:inline-block; margin-top: 95px;">
	<%= image_tag("camera.png") %>
</div>
<section class="story" style="width: 600px; float: right;">
	<div style="display:inline-block">
		<h2 style="margin-top: 0px;">Welcome!</h2>
 		<p>Everyone has a Story to tell. What's yours? </p>
		<p>Our vision is to be your most important resource for sharing memories and staying in touch with family and friends.</p>
		<p>We want to help people make their photos available to the people who matter to them. Maybe they want to keep a blog of moments captured on their cameraphone, or maybe they want to show off their best pictures or video to the whole world in a bid for web celebrity. Or maybe they want to securely and privately share photos of their kids with their family across the country. We make all these things possible and more!</p>
	</div>
</section>
