<style type="text/css">
  table th { text-align: left; }
</style>
<table style="width: 100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Number of images</th>
    </tr>
  </thead>
  <tbody>
  <% @albums.each do |album| %>
    <tr>
      <td><%= album.title %></td>
      <td><%= album.description %></td>
      <td><%= album.images.count %></td>
    </tr>
  <% end %>  
  </tbody>
</table>
