<%# Assumes the presence of a variable named @albums to be present %>

<div id="album-wrapper">
<% collection = @albums.map{|a| { :album => a, :cover => a.images.first } } %>

<% collection.each do |hash| %>
  <div class="album-tile">
	<a href="<%= album_path(hash[:album]) %>">
    		<img src="<%= get_image_url(hash[:cover], 'preview') %>" />
  	</a>
	<span title="<%= hash[:album].title %>"><%= hash[:album].title %></span>
  </div>
<% end %>
</div>
<div class="clearing"></div>
