<% title "Albums" %>
<section class="story">
	<h3 style="float: left; margin-left: 6px;">Your albums</h3>
	<%= button_to "Create new album", new_album_path, :method => 'get',  :class => 'new-album-button' %>
	<div class="clearing"></div>
	<%= render "shared/album" %>
</section>
